h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Rubik", sans-serif;
}
body,
span p {
    font-family: "Roboto", sans-serif;
}
/* Header-section */
.header-section {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
}
.header-logo {
}
.header-logo img {
}
.header-righ {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-menu {
}
.header-menu ul {
    display: flex;
    padding: 0;
    align-self: center;
    margin-top: 13px;
}
.header-menu ul li {
    list-style: none;
    position: relative;
}
.header-menu ul li a {
    color: black;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    padding: 0 12px;
    transition: 0.5s;
}
.acti {
    color: #e73c3e !important;
}
.header-menu ul li:hover > a {
    color: #e73c3e;
}
.call-div {
    display: flex;
    width: 276px;
}
.header-menu ul li ul {
    position: absolute;
    top: 170%;
    left: 0;
    width: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    margin-top: 0;
    transition: 0.5s;
    transform: scaleY(0);
    transform-origin: top center;
}
.header-menu ul li:hover ul {
    transform: scaleY(1);
}
.header-menu ul li ul li {
}
.header-menu ul li ul li a {
    line-height: 45px;
    margin-left: 15px;
}
.header-menu ul li ul li a:hover {
    letter-spacing: 2px;
}
.call-div span {
    font-size: 25px;
    margin-left: 15px;
    margin-right: 10px;
    color: #e73c3e;
}

.call-div h6 {
    color: #606060;
    font-size: 18px;
    width: 79px;
    display: block;
}
.call-div h5 {
    position: relative;
    top: 23px;
    left: -87px;
    color: #111;
    font-size: 20px;
    font-weight: 400;
}
.call-div h5:hover {
    cursor: pointer;
}
.icon-div span {
    font-size: 25px;
    border-right: 1px solid #606060;
    width: 50px;
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
}
.header-button a {
    color: white;
    text-decoration: none;
    font-size: 21px;
    display: inline-block;
    background: #e73c3e;
    padding: 9px 30px;
    border-radius: 5px;
    transition: 0.5s;
    position: relative;
    z-index: 1;
}

.header-button a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    transition: 0.5s;
    border-radius: 5px;
    z-index: -1;
}
.header-button a:hover::after {
    width: 100%;
}
.header-button a:hover {
    color: white;
}
/* Slider-section */

.slider {
    background: url(https://i.ibb.co/CVqzszB/main-banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}
.slider-content {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
.slider-content h6 {
    color: #e73c3e;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.slider-content h1 {
    font-size: 67px;
    color: #111;
    font-weight: 500;
    width: 631px;
    margin-bottom: 15px;
}
.slider-content p {
    color: #606060;
    font-size: 18px;
    width: 650px;
    line-height: 1.8;
    font-weight: 400;
}
.slider-botton a {
    color: white;
    text-decoration: none;
    font-size: 21px;
    display: inline-block;
    background: #e73c3e;
    padding: 9px 30px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}
.slider-botton a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    transition: 0.5s;
    border-radius: 5px;
    z-index: -1;
}
.slider-botton a:hover::after {
    width: 100%;
}

.slider-icon {
    position: relative;
}
.slider-icon::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 111px;
    width: 40px;
    height: 2px;
    background: #111;
}
.slider-icon ul {
    list-style: none;
    margin-top: 150px;
}
.slider-icon ul li {
}
.slider-icon li:nth-child(1) {
    margin-right: 55px;
    margin-top: -1px;
}
.slider-icon ul li span {
}
.slider-icon ul li a {
    display: inline-block;
    color: #111;
    padding: 0 15px;
    transition: 0.5s;
}
.slider-icon ul li a:hover {
    color: #e73c3e;
}

.data-start {
    margin-top: 111px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 111px;
}

/* About-Section */

.about-section {
    margin: 100px 0;
}
.about-banner {
    position: relative;
}
.about-shop {
    background: url(https://i.ibb.co/jLNxYYx/shape.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: center center;
    position: absolute;
    bottom: 0;
    right: 50px;
}
.about-shop h3 {
    font-size: 70px;
    color: #e73c3e;
    text-align: center;
    margin: 50px 0 5px 0;
    line-height: 1;
    font-weight: 500;
}
.about-shop span {
    text-align: center;
    display: block;
    font-weight: 500;
    color: #111;
}
.about-content {
}
.about-content span {
    color: #e73c3e;
    font-weight: 400;
    line-height: 1.4;
}
.about-content h3 {
    font-size: 36px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 16px;
    color: #111;
    line-height: 1.1;
}
.about-content p {
    color: #606060;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 1.8;
}
.about-content strong {
    font-size: 18px;
    font-weight: 400;
    color: #606060;
}
.about-menu {
}
.about-menu ul {
    margin: 20px 0 21px 0;
    padding: 0;
}
.about-menu ul li {
    list-style: none;
    color: #606060;
    margin-bottom: 10px;
    position: relative;
    padding: 0 30px;
}
.about-menu ul li span {
    color: #e73c3e;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 2px;
}
/* Experience-Section */

.experience-section {
    background-color: #f9fafb;
    padding-top: 100px;
    padding-bottom: 70px;
}
.experience-banner {
    margin-top: 45px;
    position: relative;
}

.experience-box {
    background: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}
.experience-box:hover {
    transform: translateY(-15px);
}
.experience-box:hover span {
    background-color: #e73c3e;
    color: white;
}
.experience-box::after {
    content: "";
    position: absolute;
    top: -147px;
    left: 0;
    right: 0;
    margin: auto;
    width: 230px;
    height: 230px;
    background: #fdebeb;
    border-radius: 50%;
    z-index: -1;
}
.experience-box span {
    display: inline-block;
    color: #e73c3e;
    margin-bottom: 20px;
    background: white;
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 50%;
    font-size: 45px;
}
.experience-box h3 {
    font-size: 25px;
    margin-bottom: 15px;
    color: #111;
    font-weight: 500;
}
.experience-box p {
    color: #606060;
    font-weight: 400;
    line-height: 1.8;
}
.mts {
    margin-top: -30px;
}
.experience-banner span {
    font-size: 60px;
    color: #e73c3e;
    display: inline-block;
    background: white;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    line-height: 90px;
    position: absolute;
    right: 170px;
    bottom: 54px;
    transition: 0.5s;
}
.experience-banner span:hover {
    color: white;
    background-color: #e73c3e;
}
.experience-banner span::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    background: red;
    border-radius: 50%;
    animation: arman 1.6s infinite;
}
@keyframes arman {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    30% {
        transform: scale(0);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.7;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

/* Contack-section */
.contack-form {
    background-color: #fdebeb;
    padding: 50px;
}
.contack-form p {
    color: #606060;
    font-weight: 400;
    text-align: center;
}
.contack-form h3 {
    font-size: 35px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}
.stepssteps-head h3 {
    font-size: 35px;
    font-weight: 400;
    line-height: 1.4;
}
.steps-menu {
}
.steps-menu ul {
    position: relative;
    margin-left: 21px;
}
.steps-menu ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: calc(100% - 59px);
    background: #e73c3e;
}
.steps-menu ul li {
    list-style: none;
    position: relative;
    padding-left: 15px;
}
.steps-menu ul li::before {
    content: attr(data-arman);
}
.steps-menu ul li h4 {
    margin-bottom: 10px;
    color: #111;
    font-weight: 500;
    line-height: 1.2;
}
.steps-menu ul li p {
    color: #606060;
    line-height: 1.8;
    font-weight: 400;
}
.steps-menu ul li::before {
    content: attr(data-arman);
    position: absolute;
    top: 0;
    left: -52px;
    width: 40px;
    height: 40px;
    background: #f9fafb;
    border: 1px solid #e73c3e;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}
.custom-in {
    padding: 13px;
}
.custom-in:focus {
    outline: 0 !important;
}

/* discuss-Section */

.discuss {
    margin: 100px 0;
}
.discuss-bode {
    background: #e73c3e;
    color: white;
    padding: 65px 50px 65px 50px;
    border-radius: 5px;
}
.discuss-left {
    position: relative;
}
.discuss-left::before {
    position: absolute;
    right: -20px;
    top: 0;
    width: 1px;
    content: "";
    height: 85px;
    background-color: #f39e9f;
}
.discuss-left h3 {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2;
}
.discuss-right span {
    color: #e73c3e;
    background: white;
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 10px;
}
.discuss-right a {
    font-size: 33px;
    color: #fff;
    font-weight: 500;
    margin-left: 19px;
    text-decoration: none;
}
